@import "../../../assets/css/color-variable.scss";

.cart-container {
  margin: 20px auto;

  .title {
    font-size: 1.75em;
    font-weight: 500;
    padding: 1em;
    border: 1px solid $color-border;
    width: 70vw;
    margin: auto;
    border-bottom-width: 0;
  }

  .cart-content {
    border: 1px solid $color-border;
    width: 70vw;
    margin: auto;

    .product-list-item {
      display: flex;
      padding: 1rem;
      width: 100%;
      align-items: flex-start;
      border-bottom: 1px solid $color-border;

      img {
        width: 150px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 2rem;
      }

      .product-list-detail {
        flex: 1 1 0;
        .product-name {
          font-size: 1.5em;
          font-weight: 600;
        }
      }

      .p-rating {
        margin: 0 0 0.5rem 0;
      }

      .product-price {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        align-self: flex-end;
      }

      .product-list-action {
        display: flex;
        flex-direction: column;

        .product-badge {
          align-self: flex-end;
        }

        .btn-delete {
          align-self: flex-end;
        }
      }

      .p-button {
        margin-bottom: 0.5rem;
      }
    }

    .pay-container {
      display: flex;
      justify-content: flex-end;
      padding: 0 1rem 1rem 1rem;

      .pay-content {
        .total {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin: 20px 0 0 0;

          .product-price {
            font-size: 1.5rem;
            font-weight: 600;
            align-self: flex-end;
            padding-left: 1em;
          }
        }

        .sub {
          font-style: italic;
          margin: 5px 0 20px 0;
        }
      }
    }
  }

  .cart-empty {
    width: 70vw;
    margin: auto;
    border: 1px solid $color-border;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
  }
}
