<div class="header-bar">
  <div class="header-bar-content">
    <div class="promotion">
      <p>Free ship đơn hàng từ 300.000đ</p>
    </div>
    <div class="action">
      <mat-icon svgIcon="shopping-cart" [matBadge]="cart?.length || ''" matBadgeColor="warn" (click)="onClickCart()"></mat-icon>
      <mat-icon style="margin-left: 1em" [matBadge]="favorite?.length || ''" matBadgeColor="accent" svgIcon="heart" (click)="onClickFavorite()"></mat-icon>
      <mat-icon *ngIf="!currentUser" style="margin-left: 1em" svgIcon="user" (click)="onClickUser()"></mat-icon>
      <mat-icon *ngIf="currentUser?.username === 'admin'" style="margin-left: 1em" svgIcon="cog" (click)="onClickConfig()"></mat-icon>
      <!-- avatar & username -->
      <p-avatar *ngIf="currentUser"
        [style]="{'background-color':'#2196F3', 'font-size': '1.5em', 'margin-left': '1em', 'color': '#ffffff'}"
        label="{{ getName() }}" styleClass="p-mr-2" shape="circle"></p-avatar>
      <span *ngIf="currentUser?.username">{{ currentUser.username }}</span>
    </div>
  </div>
</div>


<div class="header-menu">
  <div class="navigation-bar">
    <div class="logo"></div>
    <div class="menu-bar">
      <a [ngClass]="{ 'active': active === 'home'}" href="">Trang chủ</a>
      <a [ngClass]="{ 'active': active === 'man'}" href="">Thời trang nam</a>
      <a [ngClass]="{ 'active': active === 'woman'}" href="">Thời trang nữ</a>
      <a [ngClass]="{ 'active': active === 'accessories'}" href="">Phụ kiện</a>
    </div>
  </div>
</div>
